.animated_component {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: out_animation 200ms ease forwards;

  &.mounted {
    animation: in_animation 50ms ease forwards;
  }

  .logo {
    width: 120px;
    display: flex;

    img {
      width: 100%;
    }
  }
}

@keyframes in_animation {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes out_animation {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}
